body .dk .navbar .container-fluid{
	background-color: orange !important;
}

.outer .inner .row .col-md-6{
	padding: 0px !important;
}

.collapse .nav li a{
	color: #ffffff;
	font-size: 15px;
	margin-left: 20px;
	font-weight: bold;
}

.collapse .nav li a:hover{
	color: #467c7c;
  	/*border-bottom: 2px solid #467c7c;*/
}

.collapse .nav li ul {
	background-color: orange !important;
	width: 10px !important;
}

.collapse .nav li ul li a:hover{
	background-color: orange !important;
}

.dropdown-menu > li > a{
	display: inline-block;
}

.dropdown-menu > li > a:hover{
	color: #467c7c !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #b77709 !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #b77709 !important;
}

.box .body {
	padding: 0px !important;
}

.outer {
    padding: 0px !important; 
    background-color: #ffffff;
}

.outer {
    padding: 0px;
    background-color: #ffffff;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px !important;
    font-weight: bold;
    color: blue;
    font-size: 12px !important;
}


label[for*="parameter"] {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px !important;
    font-weight: bold;
    color: red;
    font-size: 12px !important;
}

.outer .inner .row .box form{
    background-color: pink !important;
}

.outer .inner .pink{
    background-color: pink !important;
}
